.register {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 50%;
    border-radius: 10px;
    min-height: 600px;
    background-color: white;
    display: flex;
    overflow: hidden;
    box-shadow: 0px 0px 15px 7px rgb(0 0 0 / 9%);

    button {
      border-radius: 5px;
    }

    .left {
      flex: 1.25;
      display: flex;
      flex-direction: column;
      padding: 50px;
      gap: 50px;
      color: white;
      justify-content: center;

      h1 {
        color: #555;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .formInputs {
          display: flex;
          flex-direction: column;

          input {
            border: none;
            outline: none;
            border-bottom: 1px solid lightgray;
            padding: 20px 10px;
          }

          .errorMsg {
            color: red;
            font-size: 14px;
          }

        }

        button {
          border: none;
          width: 50%;
          padding: 10px;
          background-color: #0d00ff;
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }

    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      background: #f82d4a;
      background-size: cover;
      padding: 50px;
      gap: 40px;
      color: white;
      justify-content: center;

      h1 {
        font-size: 80px;
        line-height: 80px;
      }

      span {
        font-size: 14px;
      }

      button {
        width: 50%;
        padding: 10px;
        color: black;
        font-weight: bold;
        border: none;
        cursor: pointer;
      }
    }
  }
}