@import "../../styles.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid themed("border");
    position: -webkit-sticky;
    position: sticky;
    background-color: themed("bg");
    top: 0;
    color: themed("textColor");
    z-index: 999;

    .left {
      display: flex;
      align-items: center;
      gap: 30px;

      span {
        font-weight: bold;
        font-size: 20px;
        color: themed("logo");

        @include mobile {
          font-size: 16px;
        }
        @include tablet {
          font-size: 14px;
        }
      }

      .search {
        display: flex;
        align-items: center;
        border: 1px solid themed("border");
        border-radius: 5px;
        padding: 5px;
        gap: 10px;

        @include mobile {
          border: none;
          position: relative;
        }

        input {
          border: none;
          width: 500px;
          outline: none;
          background: transparent;
          color: themed("textColor");

          @include mobile {
            display: none;
          }

          @include tablet {
            width: 200px;
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 20px;

      @include mobile {
        display: none;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        cursor: pointer;

        @include tablet {
          display: none;
        }

        img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}